venv/
*.gpg
.vscode
*.docx
__pycache__/
**/__pycache__/
.aider*
local_only/
src/shared_library/build/
src/shuttle_defender_test_app/build/
src/shuttle_app/build/

src/shared_library/shuttle_common.egg-info/
src/shuttle_defender_test_app/shuttle_defender_test.egg-info/
src/shuttle_app/shuttle.egg-info/
scripts/1_deployment/shuttle_env.sh
config.conf
work
